{% extends "base.html" %}
{% block title %}Par mums{% endblock %}
{% block content %}
<div class="about-section">
    <h2>Par mūsu mājaslapu!</h2>
    <p>Zirgu katalogs ir radīts no dziļas pārliecības, ka zirgi ir vairāk nekā tikai dzīvnieki — viņi ir draugi, palīgi un iedvesmas avoti. Mēs apzināmies, cik īpašs un svarīgs ir katrs mīlulis, tādēļ mūsu mājaslapas galvenais mērķis ir izcelt katra zirga unikālo vērtību un stāstu.</p>

    <p>Šajā katalogā Jūs varēsiet iepazīties ar plašu zirgu šķirņu spektru — sākot no tradicionālajiem Latvijas šķirņu pārstāvjiem līdz retām un eksotiskām pasaules šķirnēm. Katram zirgam tiek pievienota detalizēta informācija par disciplīnām, kurās viņš piedalās, kategorijām, kā arī piedzīvotajām sacensībām.</p>

    <p>Paldies, ka apmeklējāt mūsu mājaslapu! Jūsu atbalsts un interese mums ir ļoti svarīga. Ja vēlaties sazināties, dalīties ar idejām vai sadarboties, mēs vienmēr esam atvērti jaunām iespējām!</p>
    <p>lindaKukute@gmail.com</p>
</div>
{% endblock %}
